In [2]:
import pandas as pd
import json
import numpy as np

### Business Data

In [3]:
# Load Yelp business data
biz_f = open("C:/Users/varal/Downloads/archive/yelp_academic_dataset_business.json",encoding='utf-8')
biz_df = pd.DataFrame([json.loads(x) for x in biz_f.readlines()])
biz_f.close()

In [4]:
biz_df.shape

(209393, 14)

In [5]:
biz_df.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours'],
      dtype='object')

In [6]:
biz_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,10913 Bailey Rd,Cornelius,NC,28031,35.462724,-80.852612,3.5,36,1,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...","Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh...","{'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0'..."
1,Yzvjg0SayhoZgCljUJRF9Q,"Carlos Santo, NMD","8880 E Via Linda, Ste 107",Scottsdale,AZ,85258,33.569404,-111.890264,5.0,4,1,"{'GoodForKids': 'True', 'ByAppointmentOnly': '...","Health & Medical, Fitness & Instruction, Yoga,...",None
2,XNoUzKckATkOD1hP6vghZg,Felinus,3554 Rue Notre-Dame O,Montreal,QC,H4C 1P4,45.479984,-73.580070,5.0,5,1,None,"Pets, Pet Services, Pet Groomers",None
3,6OAZjbxqM5ol29BuHsil3w,Nevada House of Hose,1015 Sharp Cir,North Las Vegas,NV,89030,36.219728,-115.127725,2.5,3,0,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Hardware Stores, Home Services, Building Suppl...","{'Monday': '7:0-16:0', 'Tuesday': '7:0-16:0', ..."
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,4827 E Downing Cir,Mesa,AZ,85205,33.428065,-111.726648,4.5,26,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Home Services, Plumbing, Electricians, Handyma...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '..."

In [7]:
biz_df['categories'].value_counts()

Nail Salons, Beauty & Spas                                                                                                                 1055
Pizza, Restaurants                                                                                                                         1045
Restaurants, Pizza                                                                                                                         1028
Beauty & Spas, Nail Salons                                                                                                                 1017
Food, Coffee & Tea                                                                                                                          980
                                                                                                                                           ...
Fitness & Instruction, Diving, Scuba Diving, Specialty Schools, Active Life, Education, Swimming Pools, Swimming Lessons/Schools              1
Laundry Services, Shoe Repair, Dry Cleaning & Laundry, Local Services, Sewing & Alterations                                                   1
Bars, Wine Bars, Nightlife, Sandwiches, American (New), Restaurants, Southern                                                                 1
Local Flavor, Shopping, Beauty & Spas, Barbers, Men's Hair Salons, Yelp Events, Cosmetics & Beauty Supply, Hair Salons, Hair Extensions       1
Caribbean, Restaurants, Food, Bakeries                                                                                                        1
Name: categories, Length: 102494, dtype: int64

In [8]:
categories_data = pd.Series(biz_df['categories'])
flagCategories = categories_data.str.contains('Restaurants', na=False)

In [9]:
biz_df['flagCategories'] = (flagCategories)

In [10]:
# considering only restaurant data
biz_df = biz_df[biz_df['flagCategories'] == True]

In [11]:
biz_df.shape

(63944, 15)

In [12]:
# extracting the data of Maine, San Francisco, Houston, Washington D.C., Miami  cities
# AZ - 12,124 ; IL - 702, PA - 4259; NV(Las Vegas) - 8340, OH -  5914, NC - 4655; WI - 1794
# AZ - Phoenix (4216); PA - Pittsburgh(2608); NV - Las Vegas(6930); OH - Cleveland(1549); NC - Charlotte(2920) 
# Pick restaurants with highest number of reviews
bizPhoenix = ((biz_df[biz_df['city'] == 'Phoenix']).sort_values(by = ['review_count'],ascending = False))[:100]
bizPittsburgh = ((biz_df[biz_df['city'] == 'Pittsburgh']).sort_values(by = ['review_count'],ascending = False))[:100]
bizVegas = ((biz_df[biz_df['city'] == 'Las Vegas']).sort_values(by = ['review_count'],ascending = False))[:100]
bizCleveland = ((biz_df[biz_df['city'] == 'Cleveland']).sort_values(by = ['review_count'],ascending = False))[:100]
bizCharlotte = ((biz_df[biz_df['city'] == 'Charlotte']).sort_values(by = ['review_count'],ascending = False))[:100]

In [13]:
data = pd.DataFrame()
data = data.append(bizPhoenix)
data = data.append(bizPittsburgh)
data = data.append(bizVegas)
data = data.append(bizCleveland)
data = data.append(bizCharlotte)
data = data[['business_id','name','city','postal_code','latitude','longitude','stars','review_count']]

In [14]:
data.shape

(500, 8)

In [15]:
min(data['review_count'])

223

### Read Reviews data

In [ ]:
# Load Yelp business data
review_f = open("C:/Users/varal/Downloads/archive/yelp_academic_dataset_review.json",encoding='utf-8')
review_df = pd.DataFrame([json.loads(x) for x in review_f.readlines()])
review_f.close()

In [ ]:
review_df.shape

In [49]:
review_df.columns

Index(['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny',
       'cool', 'text', 'date'],
      dtype='object')

In [50]:
review_df.head()
review_df = review_df[['user_id','business_id','review_id','stars','text','date']]

In [51]:
review_df.head()

,user_id,business_id,review_id,stars,text,date
0,OwjRMXRC0KyPrIlcjaXeFQ,-MhfebM0QIsKt87iDN-FNw,xQY8N_XvtGbearJ5X4QryQ,2.0,"As someone who has worked with many museums, I...",2015-04-15 05:21:16
1,nIJD_7ZXHq-FX8byPMOkMQ,lbrU8StCq3yDfr-QMnGrmQ,UmFMZ8PyXZTY2QcwzsfQYA,1.0,I am actually horrified this place is still in...,2013-12-07 03:16:52
2,V34qejxNsCbcgD8C0HVk-Q,HQl28KMwrEKHqhFrrDqVNQ,LG2ZaYiOgpr2DK_90pYjNw,5.0,I love Deagan's. I do. I really do. The atmosp...,2015-12-05 03:18:11
3,ofKDkJKXSKZXu5xJNGiiBQ,5JxlZaqCnk1MnbgRirs40Q,i6g_oA9Yf9Y31qt0wibXpw,1.0,"Dismal, lukewarm, defrosted-tasting ""TexMex"" g...",2011-05-27 05:30:52
4,UgMW8bLE0QMJDCkQ1Ax5Mg,IS4cv902ykd8wj1TR0N3-A,6TdNDKywdbjoTkizeMce8A,4.0,"Oh happy day, finally have a Canes near my cas...",2017-01-14 21:56:57

In [52]:
businessID = data['business_id']

In [53]:
newdata = pd.merge(data, review_df, on='business_id', how='left')

In [54]:
newdata.shape
newdata1 = newdata

In [55]:
newdata.shape

(601460, 13)

In [56]:
newdata.head(-5)

,business_id,name,city,postal_code,latitude,longitude,stars_x,review_count,user_id,review_id,stars_y,text,date
0,utIA0LyQmwP-9DRyxUe6qQ,"Snooze, An A.M. Eatery",Phoenix,85016,33.508204,-112.037033,4.0,3515,ODVDyAAg1pz8hrkzCNoMzQ,pgT1lFg-OZ85Nx8me3B6gA,4.0,"Cute place. 30 minute wait, but I was solo so ...",2017-01-14 20:55:21
1,utIA0LyQmwP-9DRyxUe6qQ,"Snooze, An A.M. Eatery",Phoenix,85016,33.508204,-112.037033,4.0,3515,kxIe2LdUZwk0TjMr9rmEEw,dWDvgZ0PUZJ1c3IYbDwX3Q,5.0,Retro meets modern twist on breakfast...where ...,2013-12-07 15:06:03
2,utIA0LyQmwP-9DRyxUe6qQ,"Snooze, An A.M. Eatery",Phoenix,85016,33.508204,-112.037033,4.0,3515,69HEK_RkhY2bkF2psLQqfQ,To7S1zGtXiOIsyBGzYhdbg,5.0,James is the guy to get as your server when yo...,2015-04-01 16:56:45
3,utIA0LyQmwP-9DRyxUe6qQ,"Snooze, An A.M. Eatery",Phoenix,85016,33.508204,-112.037033,4.0,3515,ALrlaBLQTIb4UjM7BfNVJg,S7LTn6u8NRMr49-Izgpnvw,4.0,Three of us headed for Sunday breakfast after ...,2014-07-13 18:05:33
4,utIA0LyQmwP-9DRyxUe6qQ,"Snooze, An A.M. Eatery",Phoenix,85016,33.508204,-112.037033,4.0,3515,yKDYOFDbniB_9RYwHLJEgg,oypG4JQ29ERpVYt-ix7gcA,5.0,Solid food. I got half and half if bella bella...,2014-12-17 18:22:38
...,...,...,...,...,...,...,...,...,...,...,...,...,...
601450,AuIiqDeL65kczmiFSkAWrA,Maggiano's Little Italy,Charlotte,28211,35.152157,-80.830269,3.5,404,lfe4h-HV22dCCItXpGmbrQ,SX_8lLeuqlLrYoTx4YnUsQ,2.0,This review reflects my most recent visit to m...,2017-01-23 17:18:11
601451,AuIiqDeL65kczmiFSkAWrA,Maggiano's Little Italy,Charlotte,28211,35.152157,-80.830269,3.5,404,7Gm_aM6MiN1KFc7envS55Q,1BPEMiQbiuNo4ORQSI9h8Q,4.0,My wife and I were invited to a Murder Mystery...,2018-11-01 16:25:58
601452,AuIiqDeL65kczmiFSkAWrA,Maggiano's Little Italy,Charlotte,28211,35.152157,-80.830269,3.5,404,sICr3-csqXQhFmMY6bki6g,YPIQaoLRjnzzrzOg-yIC3g,5.0,Maggiano's is a very well known upscale Italia...,2009-03-15 00:00:11
601453,AuIiqDeL65kczmiFSkAWrA,Maggiano's Little Italy,Charlotte,28211,35.152157,-80.830269,3.5,404,5Z5Pq5tMKzbXjATgXsKFFQ,EEhZkau1TGJAE1PzN1YUkA,4.0,Had a family celebration here at Maggiano's I ...,2019-01-15 03:17:04
601454,AuIiqDeL65kczmiFSkAWrA,Maggiano's Little Italy,Charlotte,28211,35.152157,-80.830269,3.5,404,HbeuaFL7WPpdEQPiLeK5bA,ew8nmGn7G7fWlJxuZVL00Q,5.0,Went there with my wife for celebration of Val...,2019-02-13 23:11:31

In [57]:
# counting the number of reviews, each user has written and appending that value to the datafram
newdata['user-reviewCount']= newdata['user_id'].map(newdata['user_id'].value_counts())

In [58]:
# Collecting the details of restaurants that has atleast 20 User-Review count
data = newdata[newdata['user-reviewCount']>=5]
data.shape

(163801, 14)

In [59]:
# 975 unique unsers for 30199 reviews and 500 busniness
data['user_id'].nunique()

18040

In [60]:
data['business_id'].nunique()

500

In [61]:
data['city'].value_counts()

Las Vegas     68367
Phoenix       37291
Charlotte     22783
Pittsburgh    20967
Cleveland     14393
Name: city, dtype: int64

In [62]:
data.columns

Index(['business_id', 'name', 'city', 'postal_code', 'latitude', 'longitude',
       'stars_x', 'review_count', 'user_id', 'review_id', 'stars_y', 'text',
       'date', 'user-reviewCount'],
      dtype='object')

In [63]:
data.to_csv('AIT590-data.csv')